.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #99cfff;
    height: 5rem;
}

.socials {
    margin-left: 2%;
    margin-right: 2%;
}